* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f6fa;
  color: #333;
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 293px;
  background-color: #0f1738;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;
  height: 100vh;
}

.sidebar.closed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 27px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: 600;
}

.toggle-btn {
  cursor: pointer;
  width: 24px;
}

.profile-section {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.profile-section h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
}


.sidebar-menu {
  flex-grow: 1;
  margin-top: 60px;
  align-items: left;
}

.sidebar-menu ul {
  list-style: none;
}

.sidebar-menu li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.sidebar-menu li:hover {
  background-color: #0f1800;
}

.sidebar-menu li img {
  margin-right: 15px;
  height: 24px;
  width: 24px;
}

.badge {
  background-color: #ff4040;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 0.75rem;
  margin-left: 10px;
}

.sidebar-footer {
  margin-top: auto;
}

/* user info */
.user-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.user-info img {
  width: 36px;
  height: 34px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-footer ul {
  list-style: none;
}

.sidebar-footer li {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;

}

.sidebar-footer li img {
  margin-right: 10px;
  height: 24px;
  width: 24px;

}

.sidebar-footer h4 {
  font-size: 13px;
  font-weight: 500;
}

.sidebar-footer p {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #7C89BF;
}

.three-dots {
  margin-left: 110px;
}


.user-info {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-radius: 8px;
}

.profile-pic img {
  height: 36px;
  width: 36px;
}

.user-details {
  flex-grow: 1;
}

.user-details .user-name {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

.user-email {
  font-size: 12px;
  font-weight: 300;
  color: #7587A1;
  margin: 0;
}



.menu-icon img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}


/* topbar for mobile view   */
.top-bar {
  display: none;
  /* Initially hidden, only shows on mobile */
}


/* Central Profile Section */
.profile-section-main {
  width: 423px;
  padding: 20px;
  background-color: #F8F9FF;
  border-right: 1px solid #C9CEE9;

}

.profile-section-main h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;

}

.profile-section-main h2 span {
  font-size: 26px;
  font-weight: 500;
}

.profile-section-main .hand-wave {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.profile-section-main p {
  font-size: 14px;
  font-weight: 400;
  color: #6A6A6D;
  margin-bottom: 30px;
}

/* Documents Status */
.documents-status {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(104.45deg, #7B92F8 -8.72%, #FF9393 102.16%);
  border-radius: 16px;
  padding: 20px;
  width: 343px;
  height: 201px;
  color: #4A4A4A;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.documents-image {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 80px;
  height: 99px;
}

.documents-image img {
  width: 100%;
  height: auto;
}

.documents-info {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.documents-info .text-one {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #1E1F21;
}

.documents-info h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1E1F21;
  margin-top: -30px;
}

.documents-info strong {
  font-weight: 500;
}

.documents-info hr {
  border: none;
  border-top: 0.1px solid #ffffff;
  margin: 10px 0;
  width: calc(100% + 80px);
  transform: translateX(-80px);
  opacity: 50%;

}

.doc-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doc-bottom p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #1E1F21;
  line-height: 18.2px;
  margin-left: -90px;
}

.doc-bottom span {
  font-size: 14px;
  font-weight: 600;
}

.arrow-icon {
  margin-left: 10px;
}

.arrow-icon img {
  width: 21px;
  height: 21px;
}

.documents-status::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url('./Assets/star-icon.svg') no-repeat center;
  background-size: contain;
}

/* Task Status Section */



.task-status {
  width: 343px;
  height: 173px;
  background: linear-gradient(105.84deg, #263A8B -1.73%, #1A213F 120.63%);
  border-radius: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.status-chart-img {
  width: 143px;
  height: 149px;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.incomplete {
  background-color: #fdb44b;

}

.pending {
  background-color: #ff6b6b;
}

.approved {
  background-color: #4caf50;
}

.legend-item p {
  margin: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;
}




/* Mailbox Section */
.mailbox {
  background-color: #f8f9fd;
  padding: 20px;
  margin-top: 20px;

}

.mailbox h3 {
  font-size: 22px;
  font-weight: 500;

}

.mailbox h3 a {
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
  text-decoration: underline;
  margin-left: 10px;
}

.mailbox p {
  font-size: 14px;
  font-weight: 400;
  color: #1E1F21;
  margin: 5px 0;
}


.mailbox-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.status-item p {
  color: #6A6A6D;
}

.status-item img {
  width: 27px;
  height: 27px;
  margin-bottom: 5px;
}

.status-item .count {
  font-size: 20px;
  font-weight: 500;
  color: #1E1F21;
}

.v-line {
  height: 45px;
  width: 1px;
  background-color: #C9CEE9;
}


/* Legal Compliance Section */
.legal-compliance {
  background-color: #f8f9fd;
  padding: 20px;
  margin-top: 10px;

}

.legal-compliance h3 {
  font-size: 22px;
  font-weight: 500;

}

.legal-compliance h3 a {
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
  text-decoration: underline;
  margin-left: 10px;
}

.legal-compliance p {
  font-size: 14px;
  font-weight: 400;
  color: #1E1F21;
  margin: 5px 0;
}

.legal-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-item p {
  color: #6A6A6D;
}




/* Right-Hand Side Section (Tasks and Payments) 
*/
.right-section {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 40px;
}

.tasks-section h2,
.payment-section h2 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 22px;
  font-weight: 500;

}


.tasks-section .tabs {
  display: flex;
  margin-bottom: 10px;
}

.tasks-section .tab {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  background-color: #ffffff;
  color: #6A6A6D;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  cursor: pointer;
}

.tasks-section .tab.active {
  background-color: #ffffff;
  border-bottom: 2px solid #007bff;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.tasks-section table,
.payment-section table {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #E5E9FF;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;

}

.payment-section {
  margin-top: 40px;
}

.tasks-section th,
.payment-section th,
.tasks-section td,
.payment-section td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  color: #1E1F21;
  height: 56px;
  margin: 10px 0;
}

.tasks-section th,
.payment-section th {
  background-color: #f8f9fd;
  font-weight: 600;
  font-size: 12px;

}

.payment-section tbody>tr>:nth-child(1) {
  color: #1E1F21;
  font-size: 14px;
  font-weight: 600;

}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}

.request-sent {
  background-color: #F1F1F5;
  color: #6A6A6D;
}

.pending-action {
  background-color: #F1F1F5;
  color: #6A6A6D;
}

h2 a {
  font-size: 14px;
  font-weight: 500;
  color: #515BAE;
  text-decoration: underline;
  padding-left: 10px;
}

@media (min-width: 600px) {
  .mobile-tasks {
    display: none;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .profile-section-main {
    margin-top: 70px;
    width: 100%;

  }

  .right-section {
    display: none;

  }


  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    background-color: #0F1738;
    z-index: 1000;
  }

  .top-bar .logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    /* Ensure the logo stays intact */
  }

  .top-bar .logo img {
    height: 40px;
    margin-right: 10px;
  }

  .top-bar .logo-text {
    color: white;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    /* This keeps the text in a single line */
  }

  .top-bar .toggle-btn {
    width: 30px;
    /* Specify width for the toggle button image */
    height: 30px;
    margin-left: auto;
    /* Pushes the toggle button to the right */
  }

  /* table mobile view */

  .mobile-tasks {

    width: 100%;
    height: auto;

    padding: 10px;

    background-color: #fff;
    margin-top: 100px;
  }

  .mobile-tasks .tasks-section h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin: 10px 0;
  }

  .mobile-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-task a {
    color: #515BAE;
    font-size: 14px;
    font-weight: 500;
  }

  .mobile-tasks .tabs {
    margin: 20px 0;
  }

  .mobile-task-item {
    margin-bottom: 20px;
  }

  .mobile-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .mobile-task-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: #1E1F21;
    margin-bottom: 16px;
    margin-top: 20px;
  }



  .mobile-task-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
  }

  .mobile-task-category,
  .mobile-task-due-date,
  .mobile-task-status {
    font-size: 12px;
    color: #666;
    display: flex;
    flex-direction: column;
  }

  .mobile-task-category span:first-child,
  .mobile-task-due-date span:first-child,
  .mobile-task-status span:first-child {
    font-weight: 400;
    color: #6A6A6D;
    font-size: 13px;
    line-height: 17px;
  }

  .mobile-task-status span:nth-child(2) {
    background-color: #F1F1F5;
    border: 1px solid #CECED1;
    color: #6A6A6D;
    padding: 5px;
    border-radius: 24px;
  }

  .mobile-task-category span:last-child,
  .mobile-task-due-date span:last-child {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
  }

  .mobile-task-status {
    text-align: right;
  }



}